.detailed-product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.return-btn {
  align-self: flex-start;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.product-wrapper {
  display: flex;
  gap: 1rem;
  .product-img-wrapper {
    flex: 1 1 50%;
    .product-image {
      max-width: 100%;
      max-height: 20rem;
      height: auto;
      display: block;
    }
  }
  .product-desc-wrapper {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    .product-price {
      font-size: 16px;
    }

    .regular-price {
      text-decoration: line-through;
    }

    .discounted-price {
      color: red;
    }

    .buy-btn {
      border: 1px solid black;
      border-radius: 20px;
      padding: 0.5rem 2rem;
    }
  }
}
.product-title {
  font-weight: bold;
  text-transform: uppercase;
}
.product-attributes {
  margin-top: 10px;
}

.product-attribute-tag {
  display: inline-block;
  background-color: #f3f3f3;
  color: #333;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.product__buttons {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.product__button {
  padding: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
  background-color: white;
  width: 140px;
  height: 30px;
  border: 1px solid black;
  position: relative;
}

.add-cart::after,
.remove-cart::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.add-cart::after {
  background-image: url('../../assets/add-to-cart.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.remove-cart::after {
  background-image: url('../../assets/remove-from-cart.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.add-cart::before {
  content: 'Add to cart';
}

.remove-cart::before {
  content: 'Remove';
}

.in-cart::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.in-cart::after {
  background-image: url('../../assets/cart-large.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.in-cart::before {
  content: 'In cart';
}

.in-cart {
  background-color: rgb(210, 116, 210);
}
