.header {
  width: 100%;
  flex: 0 1 auto;
  height: 104px;
  background-color: black;
  padding-top: 34px;
}

.header__wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 42px;
}

.header__img {
  display: block;
  width: 316px;
}

.header__group-buttons img {
  width: 59px;
  height: 59px;
}

.header__nav {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 10px;
}

.header__nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
