.header {
  width: 100%;
  flex: 0 1 auto;
  height: 104px;
  background-color: black;
  padding-top: 34px;
}

.header__wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
