@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

button {
  all: unset;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  line-height: normal;
  color: inherit;
  font-family: inherit;
}

nav,
nav * {
  all: unset;
  display: revert;
}

li {
  all: unset;
  display: list-item;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  all: unset;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
}

[class*='__container'] {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
